<div th:object="${session.admin}" class="intro-x dropdown w-8 h-8">
    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110"
         role="button" aria-expanded="false" data-tw-toggle="dropdown">
        <img alt="Midone - HTML Admin Template" th:src="@{|../../../upload/*{photoUrl}|}">
    </div>
    <div class="dropdown-menu w-56">
        <ul class="dropdown-content bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white">
            <li class="p-2">
                <div class="font-medium" th:text="*{userName}"></div>
            </li>
            <li>
                <hr class="dropdown-divider border-white/[0.08]">
            </li>
            <li>
                <a href="#" class="dropdown-item hover:bg-white/5"> <i data-lucide="user"
                                                                       class="w-4 h-4 mr-2"></i> Thông tin cá nhân </a>
            </li>
            <li>
                <a href="#" class="dropdown-item hover:bg-white/5"> <i data-lucide="lock"
                                                                       class="w-4 h-4 mr-2"></i> Đổi mật khẩu
                </a>
            </li>
            <li>
                <hr class="dropdown-divider border-white/[0.08]">
            </li>
            <li>
                <a href="/admin-logout" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right"
                                                                                   class="w-4 h-4 mr-2"></i> Đăng xuất </a>
            </li>
        </ul>
    </div>
</div>