<!DOCTYPE html>

<html lang="en" class="light" xmlns:th="http://www.thymeleaf.org">

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <link th:href="@{/dist/images/logo.svg}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Enigma admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Enigma Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Register - Midone - Tailwind HTML Admin Template</title>
    <link rel="stylesheet" th:href="@{/dist/css/app.css}"/>
</head>

<body class="login">
<div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
        <div class="hidden xl:flex flex-col min-h-screen">
            <a href="#" class="-intro-x flex items-center pt-5">
                <img alt="Midone - HTML Admin Template" class="w-6" th:src="@{/dist/images/logo.svg}">
                <span class="text-white text-lg ml-3"> Enigma </span>
            </a>
            <div class="my-auto">
                <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16"
                     th:src="@{/dist/images/illustration.svg}">
                <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                    Thêm một vài cú nhấp chuột để
                    <br>
                    Đăng ký tài khoản của bạn
                </div>
                <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Quản lý tất cả Tài
                    khoản thương mại điện tử ở một nơi
                </div>
            </div>
        </div>
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">

            <form action="/register" method="POST" th:object="${user}"
                  class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                    Đăng ký
                </h2>

                <div class="intro-x mt-3">
                    <input th:field="*{userName}" type="text"
                           class="intro-x login__input form-control py-3 px-4 block"
                           placeholder="Họ và Tên"/>
                    <span th:errors="*{userName}" class="text-red-500 pl-1"></span>

                    <input th:field="*{email}" type="text"
                           class="intro-x login__input form-control py-3 px-4 block mt-4"
                           placeholder="Email"/>
                    <span th:errors="*{email}" class="text-red-500 pl-1"></span>

                    <input th:field="*{password}" type="password"
                           class="intro-x login__input form-control py-3 px-4 block mt-4"
                           placeholder="Password"/>
                    <span th:errors="*{password}" class="text-red-500 pl-1"></span>


                    <input th:field="*{confirmPassword}"
                           type="password" class="intro-x login__input form-control py-3 px-4 block mt-4"
                           placeholder="Password xác nhận">
                    <span th:errors="*{confirmPassword}" class="text-red-500 pl-1"></span>
                    <span th:text="${wrongConfirmPass}" class="text-red-500 pl-1"></span>
                </div>

                <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                    <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Đăng ký
                    </button>
                    <a href="/login"
                       class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">Đăng nhập
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<div data-url="login-dark-register.html"-->
<!--     class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box dark:bg-dark-2 border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">-->
<!--    <div class="mr-4 text-gray-700 dark:text-gray-300">Dark Mode</div>-->
<!--    <div class="dark-mode-switcher__toggle border"></div>-->
<!--</div>-->

<script th:src="@{/dist/js/app.js}"></script>
</body>

</html>